.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
  }
  
  .popup-content input,
  .popup-content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .popup-content button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }

  .popup-content button:hover{
    border: 1px solid red;
  }
  